*,*::after, *::before{
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: Helvetica, sans-serif;
    position: relative;
}

ul{
    list-style: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}

