.main{

}

.max-width-wrapper{
    max-width: 1094px;
    margin-left: auto;
    margin-right: auto;
    padding-left:0.8rem;
    padding-right: 0.8rem;
}

.heading{
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 30px;
}

.restaurant-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.375rem 2.375rem;
}